:root {
    --quick: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;   

    --prim:  rgb(74, 74, 74);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
    gap: 30%;
}

.imglogo {
    width: 23%;
    height: 20%;
    margin-bottom:2%;
}

.p_logo {
    font-family: var(--quick);
    margin-bottom: 1%;
    font-size: 200%;
}

.a_logo {
    text-decoration: none;
    font-family: var(--quick);
    background-color: rgb(0, 252, 143);
    color: rgb(74, 74, 74);
    padding: 0.6%;
    font-size: 180%;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out,  color 0.4s ease-in-out;

}

.a_logo:hover {
    color: rgb(254, 252, 252);
    background-color: rgb(1, 229, 130);
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a_nav_bar {
    text-decoration: none;
    font-size: 170%;
    font-family: var(--quick);
    color: var(--prim);
    border: solid 10px;
    border-color:  rgb(241, 240, 240);
    background-color:  rgb(241, 240, 240);
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    width: 14%;
    text-align: center;
  }

.barra {
    background-color: coral;
    width: 100%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
}

.a_nav_bar:hover {
    text-decoration: none;
    font-family: var(--quick);
    color: var(--prim);
    border: solid 10px;
    border-color: rgb(198, 198, 198);
    background-color:rgb(198, 198, 198)
}

.a_nav_bar:active {
    background-color:coral; 
    border-color:#ff7f50;
    transition: background-color 0.01s ease-in-out, transform 0.1s ease-in-out;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_banner {
    width: 100%;
}

.cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.h1_cardapio {
    font-size: 350%;
    font-family: var(--quick)
}

.section_cardapio {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 90%;
}

.p_cardapio {
    font-family: var(--quick);
    font-size: 130%;
}

.div1cardapio {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.div2cardapio {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.h2_cardapio {
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 230%;
    font-family: var(--quick)
}

.conheca {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.h1_sobre {
    font-family: var(--quick);
    font-size: 350%;
}

.sobre2 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 85%;
    margin-bottom: 5%;

}

.p_sobre {
    font-family: var(--quick);
    font-size: 120%;
    text-align: justify;
}

.img_sobre {
    
    width: 40%;
    height: 20%;
}

.h1_contato {
    margin-top: 5%;
    font-family: var(--quick);
    text-align: center;
    font-size: 350%;
    margin-bottom: 5%;
}

.contato {
    display: flex;
    gap: 4em;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    width:34%;
    height: 100%;
    font-size:160%;
    font-family: var(--quick);
    align-items: center;
    gap:0.2em;
    text-align: center;
}

.h1_div1 {
    margin-bottom: 7%;
}

.div2 {
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color:#ffffff;
    width:30%;
    padding:2%;
    font-size:150%;
    font-family:var(--inter);
    border-radius:20px;
    text-align: center;

}

.p_div2{
    margin-bottom: 5%;
    font-family: var(--quick);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em
}
    input, textarea {
        border: solid 1.5pt #c7c7c7;
        font-size:80%;
        border-radius:7px;
    }
    input:hover, textarea:hover {
        border: solid 1.5pt #ff7f50;
    }
    .text1 {
        padding: 2%;
    }
    .text2 {
        font-size: 100%;
        padding:2%;
        padding-bottom:40%;
    }
    .botao {
        color:#ffffff;
        background-color:#ff7f50;
        padding:2%;
    }
    .botao:hover {
        background-color: #d3704c;
        cursor: pointer;
    }

    .botao:active, input:active {
        border: solid 1.5pt #ff7f50;
    }

footer {
    display: flex;
    justify-content: center;
    background-color: #ff7f50;
    font-family: var(--quick);
    padding: 1%;
    font-weight: 500;
}

    